

    <mat-toolbar class="mat-primary mat-elevation-z2 cabecera">
      <span>ARCHIVO FINAL DE PRESUPUESTO </span>
       <!-- <button tabindex="-1" mat-icon-button (click)="dialogRef.close()">
          <mat-icon>clear</mat-icon> 
      </button>  -->
    </mat-toolbar>

<br><br>
<div class="container">
    <div class="left">
        Presupuesto
    </div>  
    <div class="center_div1">
        <span><b>{{codPresupuesto}}</b></span> 
    </div>
    <div class="right">
        <span><b>{{descPresupuesto}}</b></span>
    </div>
 </div>

 <div class="container">
    <div class="left">
        Cliente
    </div>  
    <div class="center_div2">
        <span><b>{{cliente}}</b></span> 
    </div>
    <div class="right">
        <span style="padding-right: 20px;">Costo al :</span>  
        <span><b>{{fechaPresupuesto}}</b></span>
    </div>
 </div>

 <div class="container">
    <div class="left">
        Lugar
    </div>  
    <div class="center_div3">
        <span><b>{{lugar}}</b></span> 
    </div>
 </div>

 <br><br>


    <div class = "scrollPersonal">
    <div id="paginacion">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <b>{{node.codigoItem}}</b> 
          <div style="width: 60% "><span class="espacio_izq_elemento">{{node.descripcion}}</span></div>
          <span  class="espacio_izq_elemento">{{node.unidad}}</span> 
          <span  class="espacio_izq_elemento">{{node.metrado}}</span> 
          <span  class="espacio_izq_elemento">{{node.precio}}</span> 
          <span  class="espacio_izq_elemento">{{node.parcial}}</span>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.descripcion">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon> 
          </button>
          <b>{{node.codigoItem}}</b> 
          <div style="width: 60% "> <span  class="espacio_izq_elemento">{{node.descripcion}}</span> </div>
          <span  class="espacio_izq_elemento">{{node.unidad}}</span> 
          <span  class="espacio_izq_elemento">{{node.metrado}}</span> 
          <span  class="espacio_izq_elemento">{{node.precio}}</span> 
          <span  class="espacio_izq_elemento">{{node.parcial}}</span>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>  