<mat-accordion class="filtros">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong style="color: white;">Filtros</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="inputs" [formGroup]="bandejaGrp" fxLayout.xl="row" fxLayout.lg="row">
      <mat-form-field appearance="outline">
        <mat-label>Forma adquisicion</mat-label>
        <mat-select formControlName="formaAdquisicion">
          <mat-option *ngFor="let formaAdquisicion of formasAdquisicion" [value]="formaAdquisicion">
            {{formaAdquisicion.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>N° documento sustentatorio</mat-label>
        <input matInput formControlName="nroDocSustentatorio">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Año adquisicion</mat-label>
        <mat-select formControlName="anioAdquisicion">
          <mat-option *ngFor="let anioAdquisicion of aniosAdquisicion" [value]="anioAdquisicion">
            {{anioAdquisicion.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mes adquisicion</mat-label>
        <mat-select formControlName="mesAdquisicion">
          <mat-option *ngFor="let mesAdquisicion of mesesAdquisicion" [value]="mesAdquisicion">
            {{mesAdquisicion.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mes adquisicion</mat-label>
        <mat-select formControlName="estadoAdquisicion">
          <mat-option *ngFor="let estadoAdquisicion of estadosAdquisicion" [value]="estadoAdquisicion">
            {{estadoAdquisicion.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="acciones">
        <button mat-mini-fab (click)="buscar($event)" [disabled]="disableBuscar">
          <mat-icon matTooltip="búsqueda">search</mat-icon>
        </button>
        <button mat-mini-fab class="mat-grey-300-bg" (click)="reiniciar()">
          <mat-icon matTooltip="Limpiar filtros de búsqueda">clear_all</mat-icon>
        </button>
        <button mat-mini-fab class="mat-grey-300-bg" (click)="insertar()">
          <mat-icon matTooltip="Nueva adquisicion">library_add</mat-icon>
        </button>
      </div>
    </div>
    <div class="action-buttons" fxLayout.xl="row" fxLayout.lg="row">
      <button mat-raised-button (click)="insertar()">
        <mat-icon matTooltip="Nueva adquisicion">library_add</mat-icon>
        Registro individual
      </button>
      <button mat-raised-button (click)="insertar()">
        <mat-icon matTooltip="Nueva adquisicion">layers</mat-icon>
        Registro masivo
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- FILTROS -->

<!-- BANDEJA -->
<div class="bandeja">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Nro</th>
      <td mat-cell *matCellDef="let adquisicion; let i=index">{{i}} </td>
    </ng-container>

    <ng-container *ngFor="let column of columnsGrilla" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
      <td mat-cell *matCellDef="let row"> {{ column.cell(row) }} </td>
    </ng-container>

    <ng-container matColumnDef="opt">
      <th mat-header-cell *matHeaderCellDef>Opt</th>
      <td mat-cell *matCellDef="let adquisicion">
        <button mat-icon-button color="primary" (click)="verProyectoCoordinador(adquisicion.idCodigo)"
          matTooltip="Ver detalle">
          <mat-icon>search</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="empty" *ngIf="!isLoading && dataSource === null">
    No existe datos para mostrar en la tabla
  </div>

  <mat-card *ngIf="isLoading" class="spinerTable">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <mat-toolbar>
    <mat-toolbar-row class="paginacion-right mat-toolbar-fondo">
      <div *ngIf="dataSource !== null" style="float: left !important;">
        <img src="assets/images/logoexcel.png" width="30px" height="30px" (click)="descargarExcel($event)"
          class="excel-icon-top" matTooltip="Descargar Excel">
        <span class="example-spacer"></span>
      </div>
      <div>
        <mat-paginator [length]="total" [pageIndex]="pagina - 1" [pageSize]="cantidad" [showFirstLastButtons]="true"
          [pageSizeOptions]="[15, 30, 50]" (page)="cambiarPagina($event)">
        </mat-paginator>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</div>